<h2 class="text-2xl font-bold mb-6 text-center py-4">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "space-y-6 max-w-md mx-auto" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <!-- Nested Company Attributes -->
  <%= f.fields_for :company do |company_fields| %>
    <div class="field">
      <%= company_fields.label :name, "Company Name", class: "block text-gray-700" %><br />
      <%= company_fields.text_field :name, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email, class: "block text-gray-700" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "block text-gray-700" %>
    <% if @minimum_password_length %>
      <em class="text-sm text-gray-500">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class: "block text-gray-700" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
  </div>
<% end %>

<div class="text-center mt-4">
  <%= render "devise/shared/links" %>
</div>
